django-sortedm2m~=4.0.0
django-reversion~=5.1.0
django-taggit~=6.0.0
django-flat-json-widget~=0.3.1
paramiko[ed25519]~=3.5.1
scp~=0.15.0
django-cache-memoize~=0.2.1
shortuuid~=1.0.13
netaddr~=1.3.0
django-import-export~=4.1.1

netjsonconfig @ https://github.com/Insatroute/netjsonconfig/tarball/main
django-x509 @ https://github.com/Insatroute/django-x509/tarball/main
django-loci @ https://github.com/Insatroute/django-loci/tarball/main
openwisp-users @ https://github.com/Insatroute/openwisp-users/tarball/main
openwisp-utils[celery,channels] @ https://github.com/Insatroute/openwisp-utils/tarball/main
openwisp-monitoring @ https://github.com/Insatroute/openwisp-monitoring/tarball/main
openwisp-ipam @ https://github.com/Insatroute/openwisp-ipam/tarball/main
djangorestframework-gis @ https://github.com/Insatroute/django-rest-framework-gis/tarball/main
